@charset "UTF-8";
/*예약확인_ 로그인*/
	.reserveLogin{margin-top: 5px;}
	.reserveLogin > div{float: left; width: 50%;}
	.reserveLogin > div:first-child{padding-right: 79px; border-right: 1px solid #eceae7;}
	.reserveLogin > div:last-child{padding: 66px 0 0 80px;}
	.reserveLogin .loginBox{padding: 0; width: 100%;}
	.reserveLogin div.phone{margin-top: 8px;}
	.reserveLogin div.phone > .ui-select-wrapper{width: 160px; float: left;}
	.reserveLogin div.phone > .inp{width: 152px; float: left; margin: 0 0 0 8px;}
	.reserveLogin .joinBox{float: none; padding: 0; width: 100%;}

	#container {
    min-width: 1280px;
    min-height: 100%;
    padding-top: 48px;
    padding-bottom: 183px;
    margin-bottom: -183px;
}
article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 1.4em;
    box-sizing: border-box;
    font-weight: 200;
}
.innerBox {
    width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
}
.loginWrap h1 {
    padding: 59px 0 58px;
    font-weight: 100;
    font-size: 30px;
    line-height: 40px;
}
.loginWrap h1 span {
    display: block;
    padding-bottom: 13px;
    font-size: 16px;
    color: #9c836a;
    font-weight: 450;
}
.fullBg {
    overflow: hidden;
    padding: 51px 0 104px;
    background: #f9f9f9;
}
.tapBox li.on a {
    color: #9c836a;
    border-bottom-color: transparent;
    border-top: 1px solid #9c836a;
}
div {
    display: block;
}
.tapBox li a {
    display: block;
    position: relative;
    height: 48px;
    padding: 12px 0;
    border-top: 1px solid #e6e3df;
    border-bottom: 1px solid #9c836a;
    line-height: 22px;
    text-align: center;
   
    vertical-align: top;
}
a:link, a:visited, a:hover, a, active, a:focus {
    text-decoration: none;
    cursor: pointer;
   
}
.loginBox .inp {
    width: 100%;
}
.inp {
    display: inline-block;
    position: relative;
}
.inp input {
    width: 100%;
    height: 48px;
    border: 1px solid #e6e3df;
    padding: 0 12px;
    padding-right: 46px;
    line-height: 3;
    font-size: 14px;
    font-weight: 200;
    outline: 0;
    transition: all .3s ease;
}
input {
    font-family: 'Noto Sans', sans-serif;
}
img, select, input, button {
    vertical-align: middle;
}
input, select {
    color: inherit;
    font: inherit;
    box-sizing: border-box;
}
.ui-select-trigger {
    display: inline-block;
    width: 100%;
    height: 48px;
    border: 1px solid #e6e3df;
    padding: 0 39px 0 15px;
    line-height: 48px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.loginBox .btnLogin {
    display: block;
    width: 100%;
    margin-top: 18px;
}
.btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover {
    border: 1px solid #c4bfbb;
    color: rgba(255,255,255,0.65);
    cursor: inherit;
    background: #c4bfbb;
}
.btn.btnFull {
    color: #fff;
    background: #9c836a;
}
.btn {
  
    min-width: 192px;
    height: 56px;
    padding: 0 32px;
  
    line-height: 56px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 300;
    color: #9c836a;
    text-align: center;
   
    transition: all .3s ease;
}
.reserveLogin > div:first-child {
    padding-right: 79px;
    border-right: 1px solid #eceae7;
}
.reserveLogin > div {
    float: left;
    width: 50%;
}
.reserveLogin > div:last-child {
    padding: 66px 0 0 80px;
}
.reserveLogin > div {
    float: left;
    width: 50%;
}
.joinBox h2 {
    font-size: 18px;
    color: #9c836a;
    font-weight: 300;
}
.joinBox p {
    margin-top: 10px;
    color: #666;
    font-size: 16px;
}
.reserveLogin .joinBox {
    float: none;
    padding: 0;
    width: 100%;
}
.joinBox .btn {
    width: 100%;
    margin-top: 41px;
}

.btnJoin {
    
    text-align: center;
}
.btn {
    display: inline-block;
    min-width: 192px;
    height: 56px;
    padding: 0 32px;
    border: 1px solid #9c836a;
    line-height: 56px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 300;
    color: #9c836a;
    background: #fff;
    transition: all .3s ease;
}

.lastdiv{
    padding:100px;
    font-weight: 100px;
    font-size: 30px;
    line-height: 40px;
}
 