@charset "UTF-8";
/* 관리자 로그인 */
.wrapper #container {
    position: relative;
    margin-left: 200px;
    padding-top: 0;
}
.wrapper .innerBox {
    margin: 0;
}
.wrapper .fullBg{
	width:1280px;
}
/* 전체 */
article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 1.4em;
    box-sizing: border-box;
    font-weight: 200;
}
user agent stylesheet
div {
    display: block;
}

/* 상단 */
.innerBox {
    width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
}
/* 내용 */
/* 로그인 */
.loginWrap {}
.loginWrap h1 { padding:59px 0 58px; font-weight:100; font-size:30px; line-height:40px; }
.loginWrap h1 span { display:block; padding-bottom:13px; font-size:16px; color:#9c836a; font-weight:450;}
.fullBg { overflow:hidden; padding:51px 0 104px; background:#f9f9f9;}
.fullBg.mt { margin-top:80px;}
.fullBg.mt1 {margin-top:30px;padding-top:75px;}
.loginWrap .fullBg.idResultWrap {padding-top:75px;}

.loginBox {float:left; width:560px; padding-right:80px;}
.loginBox .inp { width:100%;}
.loginBox .inp + .inp { margin-top:8px;}
.loginBox .btnLogin { display:block; width:100%; margin-top:18px;}
.loginSave { overflow:hidden; margin-top:16px; font-size:14px;}
.loginSave .checkbox { float:left; color:#000;}
.loginSave .findPWD { float:right;}
.loginSave .findPWD a { color:#9c836a; text-decoration:underline; font-weight: 300;}

.loginBox .tapView {position: relative;}
.loginBox .tapView:after {content:' ';position: absolute;top:-65px;right:-81px;width:1px;height:277px;background:#e6e3df;opacity:0.7;}
.loginBox .tapView.nonMem:after {height:300px;}
.loginWrap .nonMem .phone {margin-top:8px;font-size:0;}
.loginWrap .nonMem .phone .ui-select-wrapper {width:154px;}
.loginWrap .nonMem .phone .inp {width:154px;margin:0 0 0 8px;}
.loginWrap .nonMem .smallText {margin-top:15px;font-size:14px;color:rgba(0,0,0,0.65);line-height:22px;}

.joinBox {float:right; width:560px; padding:50px 0 0 80px;}
.joinBox h2 { font-size:18px; color:#9c836a; font-weight:300;}
.joinBox p { margin-top:10px; color:#666; font-size:16px;}
.joinBox .btn { width:100%; margin-top:41px;}

.inp {
    display: inline-block;
    position: relative;
}

html[lang="ko"] body, html[lang="en"] body {
    word-break: keep-all;
}
.reserveLogin {
    margin-top: 5px;
}
.reserveLogin > div:first-child {
    padding-right: 79px;
    border-right: 1px solid #eceae7;
}
.reserveLogin > div {
    float: left;
    width: 50%;
}
.reserveLogin .loginBox {
    padding: 0;
    width: 100%;
}
ol, ul {
    list-style: none;
}
/* tap */
.tapBox { margin-bottom:16px;}
	.tapBox ul { display:table; height:48px; overflow:hidden; width:100%; table-layout:fixed; border-left:1px solid #e6e3df;}
	.tapBox li { display:table-cell; height:48px; vertical-align:top;}
	.tapBox li a { display:block; position:relative; height:48px; padding:12px 0; border-top:1px solid #e6e3df; border-bottom:1px solid #9c836a; line-height:22px; text-align:center; color:#666; vertical-align:top;}
	.tapBox li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df;}
	.tapBox li.on a { color:#9c836a; border-bottom-color:transparent; border-top:1px solid #9c836a;}
	.tapBox li.on a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#9c836a;}
	.tapBox li.on a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#9c836a;}
	.tapBox .tooltipBox { width:100%; margin-top:-38px; z-index:1;}
	.mapPop .tapBox {margin-bottom:32px;}
	.tapBox + .eventList {margin-top:48px;}
	.tapBox + .tapBox + .eventList {margin-top:0;}
	.tapView{ display: none;}
	.tapView.on{ display: block;}
	
	.tapBox { margin-bottom:16px;}
.tapBox ul { display:table; height:48px; overflow:hidden; width:100%; table-layout:fixed; border-left:1px solid #e6e3df;}
.tapBox li { display:table-cell; height:48px; vertical-align:top;}
.tapBox li a { display:block; position:relative; height:48px; padding:12px 0; border-top:1px solid #e6e3df; border-bottom:1px solid #9c836a; line-height:22px; text-align:center; color:#666; vertical-align:top;}
.tapBox li a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:0; width:1px; background:#e6e3df;}
.tapBox li.on a { color:#9c836a; border-bottom-color:transparent; border-top:1px solid #9c836a;}
.tapBox li.on a:after { content:''; display:block; position:absolute; top:0; right:0; bottom:-1px; width:1px; background:#9c836a;}
.tapBox li.on a:before { content:''; display:block; position:absolute; top:0; left:0; bottom:-1px; width:1px; background:#9c836a;}
.tapBox .tooltipBox { width:100%; margin-top:-38px; z-index:1;}
.mapPop .tapBox {margin-bottom:32px;}
.tapBox + .eventList {margin-top:48px;}
.tapBox + .tapBox + .eventList {margin-top:0;}
	
	
	
a:link, a:visited, a:hover, a, active, a:focus {
    text-decoration: none;
    cursor: pointer;  
}

/* 아이디찾기 결과 */
.idResultWrap .userID {margin-bottom:65px;font-size:16px;text-align:center;color:rgba(0,0,0,0.65);}
.idResultWrap .userID strong {display:inline-block;margin:0 10px;font-size:24px;color:#9c836a;}

.inp input {
    width: 100%;
    height: 48px;
    border: 1px solid #e6e3df;
    padding: 0 12px;
    padding-right: 46px;
    line-height: 3;
    font-size: 14px;
    font-weight: 200;
    outline: 0;
    transition: all .3s ease;
}
input {
    font-family: 'Noto Sans', sans-serif;
}
img, select, input, button {
    vertical-align: middle;
}
input, select {
    color: inherit;
    font: inherit;
    box-sizing: border-box;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
 
}

element.style {
    display: none;
}
.inp .btnDelete {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    font-size: 0;
    background: url(/resource/images/pc/common/btn/btn_input_delete.png) no-repeat;
}
img, select, input, button {
    vertical-align: middle;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    overflow: visible;
    cursor: pointer;
    line-height: 1;
}
user agent stylesheet
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.loginBox .btnLogin {
    display: block;
    width: 100%;
    margin-top: 18px;
}
.btn.btnFull {
    color: #fff;
    background: #9c836a;
}
.btn {
    min-width: 192px;
    height: 56px;
    padding: 0 32px;
    border: 1px solid #9c836a;
    line-height: 56px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 300;
    text-align: center;
    transition: all .3s ease;
}
.loginSave {
    overflow: hidden;
    margin-top: 16px;
    font-size: 14px;
}
.loginSave .findPWD {
    float: right;
}
/*check~~*/
.loginSave .checkbox {
    float: left;
    color: #000;
}
.checkbox {
    display: inline-block;
    position: relative;
    min-height: 20px;
    padding-left: 25px;
}
.checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}
.checkbox label {
    color: #666;
}
.checkbox label:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: url(/resource/images/pc/common/icon/icon_checkbox.png) no-repeat;
}

.loginSave .findPWD a {
    color: #9c836a;
    text-decoration: underline;
    font-weight: 300;
}
a:link, a:visited, a:hover, a, active, a:focus {
    cursor: pointer;
}
/*tab*/
.tapView {
    display: none;
}


/*form*/
form {
    display: block;
 }
 
 /*비회원 로그인박스*/
 .radioBox {
    display: inline-block;
    position: relative;
    min-height: 20px;
    padding-left: 25px;
}
 element.style {
    height: 20px;
    margin-left: 20px;
}
.radioBox input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}
 label {
    cursor: default;
}
#id_tel1{width:100%; height:48px;}
.lastdiv{
    padding:100px;
    font-weight: 100px;
    font-size: 30px;
    line-height: 40px;
}
 