@charset "UTF-8";
/* 관리자 로그인 */
.wrapper #container {
    position: relative;
    margin-left: 200px;
    padding-top: 0;
}
.wrapper .innerBox {
    margin: 0;
}
.wrapper .fullBg{
	width:1280px;
}
.ui-select-options {
    overflow: hidden;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    max-height: 280px;
    min-width: 100%;
    border: 1px solid #e6e3df;
    border-top: 0;
    background: #fff;
}
ol, ul {
    list-style: none;
}
/* .select{
	width:100%;
	height:100%;
} */
.innerBox {
    width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
}
.loginWrap h1 {
    padding: 59px 0 58px;
    font-weight: 100;
    font-size: 30px;
    line-height: 40px;
}
.loginWrap h1 span {
    display: block;
    padding-bottom: 13px;
    font-size: 16px;
    color: #9c836a;
    font-weight: 450;
}
.fullBg {
    overflow: hidden;
    padding: 51px 0 50px;
    background: #f9f9f9;
}
[lang="ko"] .findIDPWD {
    height: 300px;
}
.findIDPWD {
    overflow: hidden;
    height: 230px;
    position: relative;
}
.findIDPWD .inp {
    width: 100%;
}
.inp {
    display: inline-block;
    position: relative;
}
.findIDPWD .phone {
    margin-top: 8px;
    font-size: 0;
}
.findIDPWD .btn {
    width: 100%;
    margin-top: 16px;
}
 .btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover {
    border: 1px solid #c4bfbb;
    color: rgba(255,255,255,0.65);
    cursor: inherit;
    background: #c4bfbb;
} 

a:link, a:visited, a:hover, a, active, a:focus {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 192px;
    height: 56px;
    padding: 0 32px;
    line-height: 56px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 300;
    text-align: center;
    transition: all .3s ease;
}
.findIDPWD .findPWD {
    float: right;
    width: 480px;
}
.findIDPWD:after {
    content: 'or';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 48px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #9c836a;
    line-height: 48px;
    text-transform: uppercase;
    background: #f9f9f9;
}
.findIDPWD .btn {
    width: 100%;
    margin-top: 16px;
}
.btn.btnFull {
    color: #fff;
    background: #9c836a;
}
/* 아이디, 비밀번호 찾기 */
.findIDPWD { overflow:hidden; height:230px; position:relative;}
[lang="ko"] .findIDPWD {height:300px;}
.findIDPWD:before { content:''; display:block; position:absolute; top:0; left:50%; bottom:0; width:1px; height:382px; background:#e6e3df;}
.findIDPWD:after { content:'or'; display:block; position:absolute; top:50%; left:50%; height:48px; transform:translate(-50%, -50%); font-size:14px; color:#9c836a; line-height:48px; text-transform:uppercase; background:#f9f9f9;}
.findIDPWD h2 { margin-bottom:12px; font-size:16px; color:#000;}
.findIDPWD .inp { width:100%;}
.findIDPWD .inp + .inp {margin-top:8px;}
.findIDPWD .btn { width:100%; margin-top:16px;}

.findIDPWD .findId { float:left; width:480px;}
.findIDPWD .findId .ui-select-wrapper .ui-select-options {max-height:145px;}
.findIDPWD .findPWD { float:right; width:480px;}

.findIDPWD .phone { margin-top:8px; font-size:0;}
.findIDPWD .phone .ui-select-wrapper { width:100%;}
.findIDPWD .phone .inp { width:154px; margin-left:0px; margin-right:8px; margin-top:0;}

.findIDPWD .phone2 { margin-top:8px; font-size:0;}
.findIDPWD .phone2 .ui-select-wrapper { width:112px;}
.findIDPWD .phone2 .inp { width:109px; margin-left:8px; margin-top:0;}
.findIDPWD .phone2 .btn { width:126px; margin:0 0 0 8px; padding:0; vertical-align: middle;}

.findIDPWD .certifyNumber { position:relative; margin-top:8px;}
.findIDPWD .certifyNumber .inp { width:100%; margin-left:0;}
.findIDPWD .certifyNumber .inp input { padding-right:100px;}
.findIDPWD .certifyNumber .count { position:absolute; top:50%; right:16px; transform:translateY(-50%); font-size:14px; color:#e65649;}


.findIDPWD .email { margin-top:8px;}
.findIDPWD .email .inp { width:317px;}
.findIDPWD .email .btn {width:150px; margin:0 0 0 8px; vertical-align: middle;}
[lang="ko"] .findIDPWD.joinStep .box {width:480px;}
[lang="ko"] .findIDPWD .email .btn {width:130px;}

.findIDPWD .box { margin-bottom:45px;}
.findIDPWD .box .email { margin-bottom:0; font-size:0;}
.findIDPWD h3 { font-size:14px; color:#333;}
.findIDPWD .text { margin-top:13px; line-height:22px; color:#666;}

/* 아이디찾기 결과 */
.idResultWrap .userID {margin-bottom:65px;font-size:16px;text-align:center;color:rgba(0,0,0,0.65);}
.idResultWrap .userID strong {display:inline-block;margin:0 10px;font-size:24px;color:#9c836a;}

.phone{display:flex;}
.phone.inp{width:100%;}
#container {
    min-width: 1280px;
    min-height: 100%;
    padding-top: 48px;
    padding-bottom: 183px;
    margin-bottom: -183px;
}
article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 1.4em;
    box-sizing: border-box;
    font-weight: 200;
}


html[lang="ko"] body, html[lang="en"] body {
    word-break: keep-all;
}
body {
    font-family: 'Noto Sans', sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
}
#id_tel1{width:100%; height:100%;}

.lastdiv{
    padding:100px;
    font-weight: 100;
    font-size: 30px;
    line-height: 40px;
}

