

	.contTitle + .eventBox {margin-top:-14px; padding-top: 70px;}
	.eventBox{position: relative; margin-top: 55px;}
	.eventBox div.searchTab{position: absolute; top: 0; right: 0; margin-top: 0;}
	.eventBox div.searchTab > *{float: left;}
	.eventBox div.searchTab p{display: inline-block; line-height: 40px; margin-right: 24px;}
	.eventBox div.searchTab div.ui-select-wrapper{vertical-align: top;}
	
	.eventBox div.searchTab.type2 { position:relative; margin-bottom:20px; text-align:right;}
	.eventBox div.searchTab.type2 > * { float:none;}

	ul.eventList{margin: 0 -16px 0; font-size: 0;}
	ul.eventList li{display: inline-block; width: 352px; margin: 45px 16px 0; vertical-align: top; font-size: 14px;}
	ul.eventList li:nth-child(1),	ul.eventList li:nth-child(2),	ul.eventList li:nth-child(3){margin-top: 0;}
	ul.eventList li a{display: block;}
	ul.eventList li .img { width:352px; height:232px; background:url(/resource/images/pc/common/empty_logo.png) #f9f9f9 no-repeat 50% 50%;;}
	ul.eventList li .img img { display:block; width:100%; height:100%;}
	ul.eventList li div.txt{padding: 20px 0 30px;}
	ul.eventList li strong{display: block; color: #333; font-size: 14px; font-weight: 450; text-transform: uppercase; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	ul.eventList li span.sub{ overflow:hidden; display: block; height:40px; margin: 12px 0 16px; color: #666; font-size: 14px; word-break: keep-all; line-height: 20px;}
	ul.eventList li span.date{display: block; font-size: 12px; line-height: 1; margin-top: 2px; color: #999;}
	ul.eventList li span.date .time {display:inline-block;position: relative;padding-left:12px;margin-left:9px;}
	ul.eventList li span.date .time:before {content:'';position: absolute;top:50%;left:0;width:1px;height:9px;margin-top:-4px;background:#c2c2c2;}
	ul.eventList li:nth-child(1),
	ul.eventList li:nth-child(3n + 1) { animation-delay: 0s;}
	ul.eventList li:nth-child(2),
	ul.eventList li:nth-child(3n + 2) { animation-delay: 0.2s;}
	ul.eventList li:nth-child(3),
	ul.eventList li:nth-child(3n + 3) { animation-delay: 0.4s;}
	ul.eventList .tag { position:absolute; top:0; left:0; z-index:1; height:24px; padding:0 8px; color:#fff; line-height:24px; font-size:12px; background:#9c836a;}
	.eventBox.type2 { margin-top:0;}
	.eventBox.type2 ul.eventList li div.txt { min-height:auto; height:auto; padding-bottom:0;}
	.eventBox.type2 ul.eventList li span.sub { margin-bottom:0;}