/*  관리자페이지  */
.wrapper #container{
	position: relative;
	margin-left: 200px;
	padding-top:0;
}
.wrapper .innerBox {
    padding: 0;
    margin: 0;
}
.wrapper .formInfo .email .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    padding: 0;
    text-align: center;
}
.wrapper .formInfo .code .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    padding: 0;
    text-align: center;
}
.formInfo .code p {
    padding: 10px 0;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}
.wrapper .email dd{
	position: relative;
    padding-right: 128px;
}
.wrapper .code dd{
	position: relative;
    padding-right: 128px;
}
/* 회원가입타이틀 시작 */
h1.contTitle {
	padding: 59px 0 58px;
	font-weight: 100;
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
}

h1.contTitle span {
    display: block;
    padding-bottom: 13px;
    font-size: 16px;
    color: #9c836a;
    font-weight: 700;
}
/* 스텝박스 시작 */
.stepWrap {
    margin-bottom: 40px;
    height: 70px;
}

.stepWrap ul li {
    position: relative;
    float: left;
    width: 192px;
    line-height: 24px;
    padding-top: 35px;
    font-size: 16px;
    color: var(--brown-color);
    font-weight: 300;
    vertical-align: top;
}

.fa-circle:before,
.fa-check-circle:before {
    display: block;
    position: absolute;
    top: -13px;
    left: 0;
    width: 32px;
    height: 32px;
}

.stepWrap ul .fa-circle.ing:before{
	top:0;
}

.stepWrap ul li:not(:last-child):after {
    display: block;
    content: '';
    position: absolute;
    top: 16px;
    right: 8px;
    left: 40px;
    height: 1px;
    background-color: #e6e3df;
}

.clearFixed:after {
    content: '';
    display: block;
    clear: both;
}

/* 스텝박스 끝 */
/* form 시작 */
.fullBg {
    overflow: hidden;
    padding: 51px 0 104px;
    background: #f9f9f9;
}
.formJoinWrap > div:first-child, .formJoinWrap > form#form1 > div {
    margin-top: 0;
}
.formJoinWrap > div, .formJoinWrap > form > div {
    margin-top: 43px;
    padding-bottom: 48px;
    border-bottom: 1px solid #e6e3df;
}
.formJoin {
    position: relative;
}
.formJoinWrap h2 {
    margin-bottom: 20px;
    color: #666;
    font-size: 16px;
}
.formJoinWrap .formImportant {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #666;
}
.formInfo .left {
    float: left;
    width: 50%;
    padding-right: 17px;
}
.formInfo {
    position: relative;
}
.formJoinWrap .color {
    color: #9c836a;
}
.formJoinWrap dl {
    margin-bottom: 20px;
}
.formJoin dl {
    margin-bottom: 0;
}
.formJoin:after {
    content: '';
    clear: both;
    display: block;
}
.formJoinWrap dt {
    font-size: 14px;
    color: #9c836a;
}
.formJoin .id dd {
    width: 50%;
    padding-right: 17px;
}
.formJoin .pwd {
    float: left;
    width: 50%;
    padding-right: 17px;
    margin-top: 20px;
}
.formJoin .pwd + .pwd {
    padding-left: 17px;
    padding-right: 0;
}
.formInfo .birthday dd {
    font-size: 0;
}
.formInfo .birthday .ui-select-wrapper {
    width: 175px;
}
.ui-select-wrapper .disabled .ui-select-trigger {
    border: 1px solid #e6e3df;
    color: #666;
    cursor: inherit;
    background: #f9f9f9;
}
.ui-select-wrapper {
    position: relative;
    display: inline-block;
    height: 48px;
    min-width: 100px;
    user-select: none;
    vertical-align: middle;
    background: #fff;
}
.ui-select-trigger {
    display: inline-block;
    width: 100%;
    height: 48px;
    border: 1px solid #e6e3df;
    padding: 0 39px 0 15px;
    line-height: 48px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.formInfo .nameType1 .inp {
    margin-right: 8px;
}
.formInfo .nameType1 .selectBox {
    width: 159px;
}
.formJoinWrap dd {
    position: relative;
    margin-top: 5px;
}
.formJoinWrap .inp {
    width: 100%;
}
.inp {
    display: inline-block;
    position: relative;
}
.idDl{
    width: 50%;
    padding-right: 17px;
    margin-top: 20px;
}

.formInfo .nameType1 .selectBox {
    width: 159px;
}
.inp .btnDelete {
    display: none;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    font-size: 0;
    background: url(/images/join/joinbtn1.png) no-repeat;
}
.ui-select-options {
    overflow: hidden;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    max-height: 280px;
    min-width: 100%;
    border: 1px solid #e6e3df;
    border-top: 0;
    background: #fff;
}
.errorText {
    display: none;
    color: #e66045;
    font-size: 14px;
}
.formInfo .email p {
    padding: 10px 0;
    font-size: 12px;
    color: rgba(0,0,0,0.4);
}
.formInfo .right {
    float: right;
    width: 50%;
    padding-left: 17px;
}
.formInfo [class*=nameType] dd {
    font-size: 0;
}
.formInfo .nameType2 .inp {
    width: 267px;
}
.formInfo .nameType2 .inp + .inp {
    margin-left: 9px;
}
.formInfo .address .post {
    position: relative;
    padding-right: 128px;
}
.inp input[readonly='readonly'] {
    border: 1px solid #e6e3df;
    color: #666;
    background: #f9f9f9;
}
.inp input:disabled + .btnDelete {
    display: none !important;
}
.formInfo .address .post .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    padding: 0;
    text-align: center;
}
.formInfo .birthday .ui-select-wrapper ~ * {
    margin-left: 9px;
}
.btn {
    display: inline-block;
    min-width: 192px;
    height: 56px;
    padding: 0 32px;
    border: 1px solid #9c836a;
    line-height: 56px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 300;
    color: #9c836a;
    text-align: center;
    background: #fff;
    transition: all .3s ease;
}
.btn:hover{
	background-color: #9c836a;
}
.btn:hover span{
	color: #fff;
}
.btn.small {
    min-width: auto;
    padding: 0 24px;
    font-size: 14px;
    height: 48px;
    line-height: 46px;
}
.btn span {
    color: #9c836a;
    font-weight: 300;
}
.formInfo .address .post ~ .inp {
    margin-top: 8px;
}
.formInfo .address .inp:not(:first-child) {
    margin-top: 8px;
}
.btnJoin {
    margin-top: 40px;
    text-align: center;
}
.btnJoin .btn {
    width: 192px;
    margin: 0 4px;
}
.btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover {
    border: 1px solid #c4bfbb;
    color: rgba(255,255,255,0.65);
    cursor: inherit;
    background: #c4bfbb;
}
.formJoin .email dd {
    width: 50%;
    padding-right: 17px;
}
.formJoin .code dd {
    width: 50%;
    padding-right: 17px;
}
.email{
    margin-bottom: 20px !important;
}
.email_in {
    position: relative;
    padding-right: 128px;
}
.email_in .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    padding: 0;
    text-align: center;
}
input.btn:hover{
	color:#fff;
}
/* 가입완료 */
.completeBox {
    position: relative;
    padding-bottom: 60px;
    border-bottom: 1px solid #e6e3df;
}
.completeBox > p {
    font-size: 16px;
    line-height: 26px;
    color: rgba(0,0,0,0.65);
}
.completeBox > p strong {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    color: #000;
    line-height: 32px;
}
.completeBox > p.memberNum {
    padding: 30px 0;
    font-weight: 300;
    color: rgba(0,0,0,0.8);
}
.completeBox > p.memberNum strong {
    margin-left: 12px;
    color: #9c836a;
    font-size: 16px;
    line-height: 26px;
}
.dotList > * {
    position: relative;
    padding-left: 12px;
}
.dotList > *:before {
    display: block;
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #898989;
    vertical-align: top;
}
.completeBox .membershipCard {
    position: absolute;
    top: 0px;
    right: 0;
    width: 320px;
    height: 192px;
    padding: 24px 31px;
    font-size: 16px;
    background: url(/images/join/joinmembership1.png) no-repeat 100% 0;
}