@charset "UTF-8";
:root{
	/* color */ 
	--brown-color: #9c836a;
	--brown-dark-color: #53352c;
	--brown-light-color: #e6e3df;
	--black-color: #333;
	--black-white-color: #666;
	--red-color:#e66045;
	/* font-size */
	--large-size: 30px;
	--midium-size: 16px;
}
/* contTitle */
.contTitle{ padding:59px 0 58px; font-weight:100; font-size:var(--large-size); line-height:40px; text-transform:uppercase;}
.contTitle span{ padding-bottom:13px; font-size:var(--midium-size); color:var(--brown-color); font-weight: bold;}

/* loginBox */
.loginBox{width:1280px;margin:0 auto;padding-bottom:58px;}
.loginBox form{width:50%;padding-right:80px;}
.loginBox input{width:100%;height:48px;border:1px solid #e6e3df;padding:0 12px;font-size:14px;font-weight:200;outline:none;margin-bottom: 10px;}
.loginBox input:nth-child(3){background-color:var(--brown-color);border:none;color:white;font-size:20px;font-weight:bold; transition: all .3s ease;}

.loginBox input:nth-child(3):hover{ background-color:var(--brown-dark-color); transition: all .3s ease;}
.loginBox input:nth-child(1):focus, .loginBox input:nth-child(2):focus{border: 1px solid var(--brown-color); transition: all .3s ease;}

