@charset "UTF-8";
:root{
	/* color */ 
	--brown-color: #9c836a;
	--brown-dark-color: #53352c;
	--brown-light-color: #e6e3df;
	--black-color: #333;
	--black-white-color: #666;
	--red-color:#e66045;
	/* font-size */
	--large-size: 30px;
	--midium-size: 16px;
}

.wrapper {
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 48px;
}
.wrapper:after{ content:''; display: block; clear: both; }
/* nav start */
.adm_nav {
	width: 100px;
	height: 100vh;
	float: left;
}

.adm_menu {
	width: 100%;
	background-color: #fff;
	border-right: 1px solid #ddd;
	padding: 40px 0;
}

.adm_menu_box {
	width: 100%;
	line-height: 34px;
	text-align: center;
	position: relative;
}

.adm_menu_box>a {
	font-size: 15px;
}

.adm_menu_box>a.on+.adm_menu_2depth {
	display: block;
}

.adm_menu_2depth {
	display: none;
	position: absolute;
	top: 0;
	left: 99px;
	width: 180px;
	border-left: 1px solid #ddd;
	/* background-color: #fff; */
	text-align: left;
}

.adm_menu_2depth li {
	line-height: 34px;
	background-color: #fff;
}

.adm_menu_2depth li a {
	font-size: 14px;
	display: block;
	line-height: 34px;
	padding: 0 10px;
}

.adm_menu_2depth a strong {
	font-weight: bold;
	font-size: 16px;
}
.adm_menu a:hover{font-weight: bold;background-color: #ececec;display: block;line-height: 34px;}

/* nav end */
h1{text-align: center; font-size:var(--large-size);}
.listNone{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
.adm_content{margin:20px 0; text-align: center; width:50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
th{background-color: var(--brown-color); color:white; padding:10px;}
td{padding:10px;}
input{width:50%; text-align: center; border:none;}
input:focus{border: 1px solid var(--brown-color); transition: all .3s ease;}
#bt{background-color: var(--brown-color); color:white; padding:8px; border-radius: 5px; padding:5px;}
#bt:hover{background-color:var(--brown-dark-color); transition: all .3s ease;}

/* searchBox */
.searchBox{width:50%; margin:20px auto;}
.searchBox form{padding:10px;}
.searchBox input{width: 150px;}
.searchBox #bt{width:80px;}

/* pager */
.pager ul{display:flex; justify-content: center; margin:20px 0;}
.pager ul li{padding: 0 3px;}
.selected{color:red;}